h1 {
    @include respond-to (small) {
        font-size: 2.25rem;
    }
}

.star {
    @include respond-to (small) {
        display: none;
    }
}

.section-btn {
    @include respond-to (small) {
        font-size: 0.75rem;
        padding: 1.25rem;
    }
}

.section-title {
    @include respond-to (small) {
        margin-bottom: 1.5rem;
    }
}

.location-text {
    @include respond-to (small) {
        text-align: center;
    }
}

.eyecon {
    @include respond-to (medium) {
        margin-right: 0;
    }
    @include respond-to (small) {
        margin-right: 0;
    }
}

.mode-switch {
    @include respond-to (medium) {
        font-size: 0;
        padding: 0.875rem 0.6rem 0.875rem 0.6rem;
        &:hover {
            padding: 1rem 0.6rem 1rem 0.6rem;
        }
    }
    @include respond-to (small) {
        font-size: 0;
        padding: 1rem 0.6rem 1rem 0.6rem;
        &:hover {
            padding: 1rem 0.6rem 1rem 0.6rem;
        }
    }
}

.section-divider {
    @include respond-to (medium) {
        width: calc(100% - 5rem);
    }
}

// Projects page

.projects {
    @include respond-to (medium) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.projects-l {
    @include respond-to (medium) {
        width: 100%;
        padding-right: 0;
    }
}

.project-item {
    @include respond-to (medium) {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.projects-r {
    @include respond-to (medium) {
        display: none;
    }
    @include respond-to (large) {
        transform: scale(90%);
    }
}

.project-title, .project-type, .project-number {
    @include respond-to (small) {
        font-size: 0.875rem;
    }
}

.projects-modal {
    @include respond-to (medium) {
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--accent-two) var(--bg);
    }
}

.projects-modal-body {
    @include respond-to (medium) {
        flex-direction: column;
        height: fit-content;
    }
}

.projects-modal-l {
    @include respond-to (medium) {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }
}

.projects-modal-r {
    @include respond-to (medium) {
        width: 100%;
        height: fit-content;
    }
}

.modal-subtitle {
    @include respond-to (small) {
        font-size: 1.5rem;
    }
}

// Contact page

.contact {
    @include respond-to (small) {
        padding: 1rem;
    }
}

.contact-r {
    @include respond-to (medium) {
        padding-left: 0;
    }
}

#contactHeading {
    @include respond-to (small) {
        font-size: 1.8rem;
    }
}