.projects {
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
    padding: 4rem 4rem 0 4rem;
    display: flex;
    flex-wrap: wrap;
}

.projects-l, .projects-r {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.projects-l {
    padding-right: 2rem;
}

.projects-r {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    border-radius: 10rem 5rem 10rem 5rem;
    width: fit-content;
    // padding: 3rem;
    // border: 1px solid var(--accent-one);
    margin-bottom: 3rem;
    color: var(--accent-three);
}

.monitor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7rem;
}

.monitor-stand-container {
    height: 5rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: brightness(80%);
}

.monitor-preview {
    @include flex-center;
    width: 27.5rem;
    height: 17.5rem;
    border: solid var(--accent-one);
    border-width: 0.5rem 0.5rem 2rem 0.5rem;
}

.monitor-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    display: none;
    overflow: hidden;
}

.idle-img {
    background: url(../img/ccchaos.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    // animation: idle 5s infinite linear;
}

.monitor-neck {
    background: var(--accent-one);
    width: 3rem;
    height: 10rem;
}

.monitor-stand {
    transform: translateY(-0.5rem);
    background: var(--accent-one);
    width: 100%;
    height: 3rem;
    border-radius: 100%;
}

.projects-text {
    padding-bottom: 7rem;
}

.projects-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--accent-three);
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid var(--accent-one);
    transition-duration: 0.25s;
    &:hover {
        color: var(--accent-two);
        border-bottom: 2px solid var(--accent-two);
        transform: scale(105%);
        transition-duration: 0.25s;
    }
}

.project-number {
    width: 15%;
    font-size: 1rem;
    padding: 0;
}

.project-title {
    font-size: 1.25rem;
    color: var(--accent-three);
    width: 100%;
    &:hover {
        color: var(--accent-two);
        text-decoration: underline;
    }
}

.project-type {
    width: 50%;
    font-size: 1rem;
    padding: 0;
    text-align: right;
}

.show {
    display: flex !important;
}

.hide {
    display: none;
}