.projects {
    height: fit-content;
    width: 100%;
    padding: 10vh 4rem 10vh 4rem;
    display: flex;
    flex-wrap: wrap;
}

.projects-l, .projects-r {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.projects-l {
    padding-right: 2rem;
}

.projects-r {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    border-radius: 10rem 5rem 10rem 5rem;
    width: fit-content;
    // padding: 3rem;
    // border: 1px solid var(--accent-one);
    margin-bottom: 3rem;
    color: var(--accent-three);
}

.monitor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7rem;
}

.monitor-stand-container {
    height: 5rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: brightness(80%);
}

.monitor-preview {
    @include flex-center;
    width: 27.5rem;
    height: 17.5rem;
    border: solid var(--accent-one);
    border-radius: 20px;
    border-width: 0.5rem 0.5rem 2rem 0.5rem;
}

.monitor-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    display: none;
    overflow: hidden;
    z-index: -1;
}

.idle-img {
    background: url(../img/ccchaos.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    // animation: idle 5s infinite linear;
}

.monitor-neck {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 10%, var(--accent-one) 10%);
    border-radius: 0 0 20% 20%;
    width: 3rem;
    height: 10rem;
}

.monitor-stand {
    transform: translateY(-1rem);
    background: var(--accent-one);
    width: 100%;
    height: 3rem;
    border-radius: 100%;
}

.projects-text {
    line-height: 150%;
    padding-bottom: 2rem;
    color: var(--accent-three);
}

.projects-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--accent-two);
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid var(--accent-two);
    transition-duration: 0.25s;
    cursor: pointer;
    &:hover {
        color: var(--accent-three);
        border-bottom: 2px solid var(--accent-three);
        transform: scale(105%);
        transition-duration: 0.25s;
    }
    &:hover > .project-title {
        color: var(--accent-three);
        transition-duration: 0.25s;
    }
}

.project-number {
    width: 15%;
    font-size: 1rem;
    padding: 0;
}

.project-title {
    padding: 1.5rem;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-start;
    font-size: 1.25rem;
    text-align: left;
    color: var(--accent-two);
    width: 100%;
    transition-duration: 0.25s;
    cursor: pointer;
}

.project-type {
    width: 50%;
    font-size: 1rem;
    padding: 0;
    text-align: right;
}

.projects-modal-bg {
    display: none;
    position: fixed;
    padding: 2rem;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.projects-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--bg);
    border: 0.35rem solid var(--accent-one);
    border-radius: 20px;
}

.projects-modal-top {
    position: absolute;
    width: calc(100% - 6rem);
    padding: 1rem 0.2rem 1rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

.projects-modal-body {
    display: flex;
    width: 100%;
    height: 100%;
}

.projects-modal-l {
    width: 50%;
    height: 100%;
    padding: 2rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-two) var(--bg);
}

.projects-modal-r {
    width: 50%;
    height: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
}

.projects-modal-img {
    padding: 2rem;
    min-width: 100%;
    max-width: fit-content;
    height: 100%;
    object-fit: contain;
    // border-radius: 10%;
}

.modal-title {
    color: var(--accent-three);
    padding-bottom: 0.5rem;
}

.modal-subtitle {
    padding-bottom: 3rem;
}

.modal-link {
    color: var(--accent-two);
    text-decoration: underline;
    font-size: 0.875rem;
    &:hover {
        color: var(--accent-three);
    }
}

.modal-tools {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: var(--accent-three);
    padding-bottom: 1rem;
}

.modal-tools-p {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.modal-tools-li {
    padding-right: 0.5rem;
    font-size: 0.875rem;
    font-style: italic;
    padding-bottom: 0.3rem;
}

.modal-description {
    font-size: 1rem;
    line-height: 150%;
    color: var(--accent-three);
}

.close-modal {
    @include flex-center;
    font-size: 1rem;
    cursor: pointer;
    background: var(--accent-two);
    color: var(--bg);
    border: 1.5px solid var(--bg);
    border-radius: 100%;
    padding: 0.5rem;
    width: 2.2rem;
    &:hover {
        background: var(--accent-three);
    }
}

.show {
    display: flex !important;
}

.hide {
    display: none;
}