* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    color: var(--accent-one);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    @include respond-to(medium) {
        background: green;
    }
    @include respond-to(small) {
        background: red;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
}

p {
    font-family: $font-regular;
    font-size: 1.25rem;
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-family: $font-regular;
}

li {
    @extend p;
}

h1 {
    font-family: $font-display;
    font-size: 3rem;
}

h2 {
    @extend h1;
    font-size: 1.5rem;
}

button {
    border: none;
    padding: 1.5rem;
    font-weight: 700;
}

img {
    border: 0;
}