// colours
$bg-dark: #000425;
$accent-one: #AFB7FF;
$accent-two: #FFC690;
$accent-three: #FAF8EB;

// fonts
$font-display: 'Montserrat Alternates', sans-serif;
$font-regular: 'Montserrat', sans-serif;